<div class="container-fluid">
  <h1>Contact</h1>
      <p>I'm happy to hear from you! </p>

    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <%= image_tag 'about.270x270.jpg', class: "img img-fluid contact-img" %>
    </div>

    <div class="col-lg-6 col-sm-12 contact-box">
    <%= flash[:notice] %>
    <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
      <div class="message-field">
        <div class="form-group">
          <%= form.label :name, class:"contact-label" %>
          <%= form.text_field :name, class: "form-control", placeholder: "Your Name" %>
        </div><!-- end form-group Name-->
        <div class="form-group">
          <%= form.label :email, class:"contact-label" %>
          <%= form.text_field :email, id:"Email", class: "form-control", placeholder: "Your Email" %>
        </div><!-- end form-group Email-->
        <div class="form-group">
          <%= form.label :message, class:"contact-label" %>
          <%= form.text_area :message, class: "form-control", placeholder: "Your Message", rows: 5, cols:40 %>
        </div>
          <%= form.submit "Send", id:"contact-button", class: "form_label btn btn-light message-butto" %>
      </div>
        <% end %>
      </div>
    </div>
</div>
