<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-sm-12">
      <div class="container-fluid">
          <h1>Design</h1>
        <div class="row">
          <% @design_post.each do |post| %>
          <div class="col-lg-4 col-md-4 col-sm-12 theme-image">
            <%= image_tag(post.image_url, class: "img img-fluid") %>
          </div><!-- /theme-image -->
          <div class="col-lg-8 col-md-8 col-sm-12 post-content">
            <div class="theme-category">
              <h6><a href="#"><%= post.theme %></h6></a>
            </div><!-- /theme-category -->
            <div class="theme-title">
              <h2><a href="#"><%= post.name %></h2></a>
            </div><!-- /theme-title -->
            <div class="post-text">
              <p><%= post.description %></p>
            </div><!-- /post-text -->
            <div class="post-manage">
              <%= link_to 'Show', post %> / <%= link_to 'Edit', edit_post_path(post) %> / <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div><!-- /post-manage -->
          </div><!-- /col-lg-8 col-sm-12 -->
          <% end %>
        </div><!-- /row -->
      </div><!-- /container-fluid -->
    </div><!-- /main-bar -->
  <%= render 'shared/sidebar' %>
  </div><!-- /row -->
<div class="post-new">
  <%= link_to 'Create new post', new_post_path, class: "form_label btn btn-light message-button", id:"contact-button" %>
</div><!-- /post-new -->
</div><!-- /posts-content -->
</div>
