<div>
  <%= render 'simple_pages/carousel' %>
  <%= render 'simple_pages/articles' %>
</div>
<div>
  <%= render 'simple_pages/design' %>
  <%= render 'simple_pages/photography' %>
  <%= render 'simple_pages/recipes' %>
</div>
