<div class="container-fluid">
  <%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="message-field">
  <div class="form-group">
    <%= form.label :name, class:"contact-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Post name"  %>
  </div>

  <div class="form-group">
    <%= form.label :description, class:"contact-label" %>
    <%= form.text_area :description, class: "form-control", placeholder: "Post description", rows: 5, cols:40   %>
  </div>

  <div class="form-group">
    <%= form.label :image_url, class:"contact-label" %>
    <%= form.text_field :image_url, class: "form-control", placeholder: "Image_url"  %>
  </div>

  <div class="form-group">
    <%= form.label :theme, class:"contact-label" %>
    <%= form.text_field :theme, class: "form-control", placeholder: "Post theme" %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', id:"contact-button", class:"form_label btn btn-light message-button" %>
  </div>
<% end %>
</div>
</div>
